.container {   
    display: flex;    
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
  }

   .paginado{
    display: flex;
    justify-content: center;
  
  }
  .advice{
    color:red;
    margin-top: 100px;
  }
  .img{
    margin-top: 40px;
    width: 20%;
  }
  .messi{
    display: flex;
    justify-content: space-evenly;
  }
  .boton{
    
	background:red;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 8%;
  height: 8%;
	padding: 5px;
	border-radius: 5px;
	color:aliceblue;
	font-size: 16px;
	transition: .3s ease all;
  margin-top: 20px;
  
  }
 